.main-arena {
    background-image: url('../img/yamanote.png');
    width: 816px;
    height: 611px;
}

.main-car {
    width: 50px;
    position: absolute;
    box-shadow: 3px 3px 10px 6px #333;
    transition: all 2s;
}

#messageBoard {
    font-family: monospace;
    text-align: center;
    width: 816px;
}